services:
  - type: web
    name: xray-disease-detector
    env: docker
    plan: free
    dockerContext: .
    healthCheckPath: /
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.0
